table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 66%;
  margin: 15px 3px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}
